{% extends 'base.html' %}

{%block links%}
{% load static %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{%endblock%}
{% block title %}Авторизация{% endblock %}

{% block body %}
<form action="{% url 'login' %}" method="post" id="log">
    {% csrf_token %}
    <h2>Авторизация</h2>
    <div class="inputbox">
        <ion-icon name="person-outline"></ion-icon>
    
        <label for="login">Логин/Почта:</label>
        <input id="login" name="login" type="text" value="{{ login }}">
    </div>
    <div class="inputbox">
        <ion-icon name="lock-closed-outline"></ion-icon>
        
        <label for="password">Пароль:</label>
        <input id="password" name="password" type="password" value="{{ password }}">
    </div>
    <button name="button">Авторизироваться</button>
    <div class="register">
        <p>Нет аккаунта?<a href="/registering"> Регистрация</a></p>
    </div>
</form>

{% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}