{% extends 'base.html' %}

{% block body %}
<h1>Профиль пользователя {{ request.user.username }}</h1>

<h2>Ваши заявки:</h2>
<ul>
  {% for request in ad_requests %}
  <li>
    <p>Заявка: {{ request.ad_content }}</p>
    <p>Создана: {{ request.created_at }}</p>
    <p>Статус:
      {% if request.is_completed %}
        Выполнена
      {% else %}
        В ожидании
      {% endif %}
    </p>
  </li>
  {% empty %}
  <li>У вас нет заявок.</li>
  {% endfor %}
</ul>
<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Выйти из аккаунта</button>
</form>

{% endblock %}